
  <body class="u-body u-xl-mode" data-lang="fr">
    <section class="u-align-left u-clearfix u-image u-section-1" id="carousel_79dc" data-image-width="2000" data-image-height="1125">
      <div class="u-clearfix u-sheet u-valign-bottom-sm u-valign-bottom-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-31 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <a routerLink="/about" class="u-active-palette-3-base u-align-center u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-raleway u-hover-black u-palette-3-base u-radius-50 u-text-body-alt-color u-btn-1" data-lang-en="{&quot;content&quot;:&quot;about&quot;,&quot;href&quot;:&quot;https://nicepage.cloud&quot;}">about</a>
                  <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1" data-lang-en="Web Software Developers">Sup'Com Hiring Hub</h1>
                  <p class="u-align-center u-text u-text-body-alt-color u-text-2" data-lang-en="​Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.&amp;nbsp;Objectively innovate empowered manufactured products whereas parallel platforms.<br>"> Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.&nbsp;Objectively innovate empowered manufactured products whereas parallel platforms.<br>
                  </p>
                 
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-29 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
                  <img class="u-image u-image-default u-image-1" src="../../assets/images/fmin.jpg" alt="" data-image-width="835" data-image-height="1070" >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
 
  
    
    
    
     <section class="u-clearfix u-container-align-center u-section-9" id="carousel_c6bd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1" data-lang-en="​Let’s Get In Touch"> Let’s Get In Touch</h2>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          
             
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-6">
                  <div class="u-expanded-width u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 0px;">
                      <div class="u-form-email u-form-group">
                        <label class="u-label" data-lang-en="Email">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-db6f" name="email" class="u-grey-5 u-input u-input-rectangle" required="" data-lang-en="Enter a valid email address">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-2">
                        <label class="u-label" data-lang-en="First Name">First Name</label>
                        <input type="text" placeholder="Enter your First Name" id="name-961f" name="name-1" class="u-grey-5 u-input u-input-rectangle" required="" data-lang-en="Enter your First Name">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-3">
                        <label class="u-label" data-lang-en="Last Name">Last Name</label>
                        <input type="text" placeholder="Enter your Last Name" id="name-961f" name="name-2" class="u-grey-5 u-input u-input-rectangle" required="" data-lang-en="Enter your Last Name">
                      </div>
                      <div class="u-form-group u-form-message">
                        <label class="u-label" data-lang-en="Message">Message</label>
                        <textarea placeholder="Enter your message" id="message-db6f" name="message" class="u-grey-5 u-input u-input-rectangle" required="" data-lang-en="Enter your message"></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1" data-lang-en="{&quot;content&quot;:&quot;Submit&quot;,&quot;href&quot;:&quot;#&quot;}">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success" data-lang-en="
            Thank you! Your message has been sent.
        "> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message" data-lang-en="
            Unable to send your message. Please fix errors then try again.
        "> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="5f908c9f61e5b3781b7277993ac14918">
                    </form>
                  </div>
                </div>
              </div>
           
        </div>
      </div>
    </section>  
    
    
    
    
  
</body>