<html>
    <body>
        <!--<div class="row2">
              <div class="left">
                   <div class="content">
                       <h1>SupCom Multi trainig session </h1>
                   <p> Building a more diverse and inclusive future together!
                       Making a global impact on diversity, equity and inclusion can't be done alone. That's why  SupCom  partners 
                       with organizations and communities who share the same  vision for a future where everyone has equal opportunity to find a job they love.
                        Our partnerships allow us to amplify our values, and give companies and job-seekers a head start towards growth.</p>
                   </div>
               </div>
               <div class="right">
                   <img scr="assets\images\hachem.jpg">  
               </div>
           </div>
        -->
        <!--<div style="background-image: url('../../assets/images/ggffg-min.jpg') " class="jumbotron bg-cover text-white">
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">Bootstrap static header</h1>
                <p class="font-italic mb-0">Building a more diverse and inclusive future together!.</p>
                <p class="font-italic">Snippe by
                    <a href="http://www.supcom.mincom.tn/Fr/accueil_46_3" class="text-white">
                        <u>visit SupCom</u>
                    </a>
                </p>
                <a href="#" role="button" class="btn btn-primary px-5">See All Features</a>
            </div>
        </div>
    -->
    <header>
        <div class="banner text-white d-flex align-items-center">
            <div class="layer text-center col-12 pt-5">
                <h1 style="font-size:50px; font-weight:900;letter-spacing: 3px;" class="text-white" data-aos="zoom-out-left"
                    data-aos-duration="500" data-aos-delay="500">Our loyal partners
                </h1>
               
            </div>
        </div>
    </header>
           <div class="secondpart">
            
               <div class="boxcontainer">
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="assets\images\téléchargement.jpg" >
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Actia Angineering serveces</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="a">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Electronics
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#EmbdedSystems</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Mecanics</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="assets\images\téléchargement2.png" alt="Sunset in the mountains">
                      <div class="px-6 py-4"  >
                        <div class="font-bold text-xl mb-2">SagemCom</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="b">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #CLoud
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CyberSecurity</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#devops</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://fabskill.s3.eu-west-3.amazonaws.com/bus_logos/508.jpg" alt="Sunset in the mountains">
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Cognira</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="bb">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Devops
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Ai/ML</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#DataScience</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="assets\images\logo-infor.png" alt="Sunset in the mountains">
                      <div class="px-6 py-4" >
                        <div class="font-bold text-xl mb-2">Infor</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="aa">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Cloud
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CyberSecurity</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#devops</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="assets\images\sofrecom-meta-logo-small.png" >
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Sofrecom</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="cc">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Cloud
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CyberSecurity</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#devops</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://www.3s.com.tn/wp-content/uploads/2017/03/3S.jpg">
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">3S</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="c">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Cloud
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CyberSecurity</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#devops</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://www.keejob.com/media/recruiter/recruiter_22170/logo-22170-20201130-100538.jpg" alt="Sunset in the mountains">
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Value</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="d">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Cloud
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CyberSecurity</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#devops</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://www.chercheinfo.com/uploads/0-752143f381.png" >
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">WynSys</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id=""dd>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Electronics
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#EmbdedSystems</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Mecanics</span>
                      </div>
                    </div>
                </div>
                <div class="flex justify-center items-center h-screen">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="https://hipa.hu/files/images/Pictures/2021/Q4/EY-webre.jpg" >
                      <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Ey</div>
                        <p class="text-gray-700 text-base">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                      </div>
                      <div class="px-6 py-4" id="e">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                           #Electronics
                         </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#EmbdedSystems</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Mecanics</span>
                      </div>
                    </div>
                </div>
               </div>
            </div>
    </body>
    
    
    
</html>