<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">


    </style>
</head>
<body>
    <div class="background">
       
    </div>
    <form  (ngSubmit)="login()">
        <h3>Login Here</h3>
        <div class="form-group">
        <label for="username">Username</label>
        <input type="text" placeholder="Username"  id="username" [(ngModel)]="login_instance.username" name="username" ngModel required>
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password"   id="name" [(ngModel)]="login_instance.password" name="password" required>
    </div>
    

        <button style="color:#080710"  type="submit">Log In</button>
      
    </form>
    <!-- <form (ngSubmit)="login()">
        <label>
          Username:
          <input type="text" name="name" [(ngModel)]="login_instance.username">
        </label>
        <br>
        <label>
          Password:
          <input type="password" name="email" [(ngModel)]="login_instance.password">
        </label>
        <br>
   
        <button type="submit" style="color: black;">Log In</button>
    
      </form> -->
</body>
</html>
