<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">


    </style>
</head>
<body>
    <div class="background">
      
    </div>
    <form style="margin-top: 40px;">
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="username" id="username">
        <label for="email">email</label>
        <input type="email" placeholder="email" id="password">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
        <label for="birth">birth Date</label>
        <input type="text" placeholder="birth date" id="password">
        <label for="image">image_Path</label>
        <input type="text" placeholder="image" id="password">
        <button style="color:#080710" routerLink="/login">Register</button>
      
    </form>
</body>
</html>
